@use 'vars' as *;

.blue-section {
    background-color: $primary-color;
    color: $white-color;
    padding: 3rem 0;

    ul {
        padding: 0 1rem;

        li {
            flex-basis: calc(100%/5);
        }
    }

    a {
        font-family: $open-sans;
        color: $white-color;
        text-transform: uppercase;
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
            display: block;
            max-width: 50px;
            max-height: 50px;
        }
    }
}