@use 'vars' as *;

.comic .wrapper {
    max-width: 1000px;
}

.comic .cover-section {
    background-color: $primary-color;
    height: 100px;
    position: relative;

    figure {
        width: 175px;
        position: absolute;
        bottom: 0;
        font-family: $open-sans;

        img {
            border: 1px solid $white-color;

        }

        .cover-label {
            background-color: $label-color;
            color: $white-color;
            text-align: center;
            padding: 0 5px;
        }

        .up-right {
            display: inline-block;
            translate: 1px calc(100% + 1px);
        }

        .bottom {
            width: calc(100% - 2px);
            margin: auto;
            translate: 0 calc(-100% - 1px)
        }
    }

}

.comic .preview {
    background-color: $white-color;
    color: $dark-gray-color;
    padding: 4rem 0;
    font-family: $open-sans;
    border-bottom: 1px solid lightgray;

    .wrapper {
        display: flex;
        gap: 3rem;

        .text-section {
            flex-basis: 60%;
            flex-grow: 0;
            flex-shrink: 0;

            h2 {
                font-family: $roboto-condensed;
                margin-bottom: 2rem;
            }

            .label-available {
                padding: 15px 20px;
                border-bottom: 1px solid black;
                background-color: $label-avaible;
                font-size: small;
                font-weight: bold;
            }

            .comic-available {
                flex-grow: 1;
                border-right: 1px solid black;
            }

            .description {
                margin-top: 2rem;
                line-height: 1.5rem;
                font-size: small;
            }
        }

        .adv {
            p {
                text-align: end;
                font-family: $roboto-condensed;
                font-weight: bold;
            }
        }
    }
}

.comic .infos {
    background-color: $light-gray;
    padding-top: 3rem;

    .wrapper {
        display: flex;
        gap: 3rem;
        padding-bottom: 3rem;

        .talent,
        .specs {
            flex-basis: 50%;
            flex-grow: 0;
            flex-shrink: 0;

            h2 {
                border-bottom: 1px solid lightgray;
                padding-bottom: 1rem;
                color: $dark-gray-color;
            }

            li {
                border-bottom: 1px solid lightgray;
                padding: 10px 0;
                font-family: $open-sans;
                font-size: small;

                a {
                    color: $primary-color;
                }
            }

            .flex {
                align-items: flex-start;
            }

            .list-people {
                flex-basis: 70%;
                flex-grow: 0;
                flex-shrink: 0;
            }
        }
    }

    .links {
        border-top: 1px solid lightgray;

        .container {
            max-width: 1000px;
            margin: 0 auto;
        }

        li {
            flex-basis: calc(100% / 4);
            flex-shrink: 0;
            flex-grow: 0;
            border-left: 1px solid lightgray;

            a {

                display: flex;
                padding: 1rem;
                font-size: small;
                font-weight: bold;
                color: $gray-color;
            }
        }

        ul:last-child {
            border-right: 1px solid lightgray;
        }
    }
}